// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #4c5cf9
$secondary: #bbdc54
$accent: #f85c2b

$dark: #1a1d26
$dark-page: #0e111a

$positive: #83c764
$negative: #ff5d6b

$info: #262930
$warning: #fcdf79

$blue-dark: #333e5c

$text-color: #cdcbd2
$title-color: #fff

$generic-border-radius: 8px !default
$button-border-radius: 8px !default

$body-font-size: 14px !default
$small-font-size: 12px !default
$title-font-size: 24px !default
$sub-title-font-size: 24px !default

$body-line-height: 1.5 !default

$button-shadow: none !default
$button-padding: 4px 16px !default
$box-shadow-light: 2px 2px 10px 0 rgba(0, 0, 0, .1)
